<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Departamento</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.code }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.departmentDescription }}</td>
        <td>
          <label class="switch">
            <input type="checkbox" [checked]="product.status" (change)="onStatusChange(product, $event)">
            <span class="slider round"></span>
          </label>
        </td>
        <td class="actions-cell">
          <button (click)="onEdit(product)" class="action-btn action-btn--edit" title="Editar Produto">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.13,5.12L18.88,8.87M3,17.25V21H6.75L17.81,9.94L14.06,6.19L3,17.25Z" /></svg>
          </button>
          <button (click)="onDelete(product)" class="action-btn action-btn--delete" title="Excluir Produto">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg>
          </button>
        </td>
      </tr>
      <tr *ngIf="!products || products.length === 0">
        <td colspan="5">Nenhum produto encontrado.</td>
      </tr>
    </tbody>
  </table>
</div>